</div>
<!-- end div content -->
<footer id="footer" role="contentinfo">
                <section class="section swatch-blue-white has-top">
                    <div class="decor-top">
                        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0 C50 100 50 100 100 0  L100 100 0 100" stroke-width="0"></path>
                        </svg>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div id="swatch_social-2" class="sidebar-widget  widget_swatch_social">
                                    <ul class="unstyled inline small-screen-center social-icons social-background">
                                        <li>
                                            <a target="_blank" href="http://groups.google.com/group/pubsubsql">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://twitter.com/PubSubSQL">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="http://www.youtube.com/PubSubSQL">
                                                <i class="fa fa-youtube-play"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://github.com/pubsubsql">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="text-4" class="sidebar-widget widget_text col-md-8 col-md-offset-2">
                                    <div class="textwidget">
                                        <p>
                                            The content of this page is licensed under the Creative Commons Attribution 3.0 License. Portions of this page are modifications from work created and <a href="http://code.google.com/policies.html" title="Google code">shared by Google</a> and used according to terms described in the <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons License">Creative Commons 3.0 Attribution License</a>. Please find the original work at <a href="http://www.golang.org/" title="golang">golang.org</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
        </div>
        <a class="go-top hex-alt swatch-black-yellow" href="javascript:void(0)">
            <i class="fa fa-angle-up"></i>
        </a>
        <script src="{{ site.url }}/assets/js/packages.min.js"></script>
        <script src="{{ site.url }}/assets/js/theme.min.js"></script>
    </body>
</html>
