{% include header.html %}
{% include highlight.html %}
<section class="section swatch-white-blue has-top">
    <div class="decor-top">
        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0 C50 100 50 100 100 0  L100 100 0 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            {{ content }}    
        </div>
    </div>
</section>
<section class="section swatch-blue-white section-small"></section>
<section class="section swatch-white-blue">
    <div class="container">
        <header class="section-header no-underline text-center">
            <h1 class="headline super hairline">Have question?</h1>
            <p class="custom-contact">
                <span><i class="fa fa-envelope"></i>oleg@pubsubsql.com</span>
                <span><i class="fa fa-twitter"></i>@PubSubSQL</span>
                <span><i class="fa fa-comment"></i>groups.google.com/group/pubsubsql</span>
            </p>
        </header>
        
    </div>
</section>
{% include footer.html %}